/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* Background */

body {
    background: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/* Card */

.container {
    width: 700px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
}


/* Heading */

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}


/* Form */

.todo-form {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.todo-form input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.todo-form button {
    padding: 12px 20px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.todo-form button:hover {
    background: #0056d2;
}


/* Table */

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #007bff;
    color: white;
    padding: 12px;
}

td {
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background: #f7f7f7;
}


/* Delete Button */

.delete-btn {
    background: #dc3545;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s;
}

.delete-btn:hover {
    background: #b71c1c;
}


/* Edit Button */

.edit-btn {
    background: #28a745;
    color: white;
    padding: 8px 14px;
    text-decoration: none;
    border-radius: 6px;
    transition: .3s;
}

.edit-btn:hover {
    background: #1d7d34;
}